doctype html
html
  head
    title AllYourEventsAgency
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" )
    link(rel="stylesheet" href="app.css" )
  body
    div.container.content
        h1 AllYourEventsAgency co
        div.wrapper
            p Clients:
            .cont-table
                form.form-inline
                    .form-group
                        label(for="filter") Filters
                        input(type="text" class='form-control' id="filter" placeholder='S')
                table.table.table-bordered
                    tr 
                      td Smith Ben                       
                    tr  
                      td Simpsom Sam                      
                    tr  
                      td Stewart john
                    tr  
                      td Stathem Richard
                    tr
                      td Skims Anthony
          div.wrapper
                p Events:
                .cont-table
                    form.form-inline
                         .form-group
                              label(for="filter") Filters
                              input(type="text" class='form-control' id="filter" placeholder='green')
                      table.table.table-bordered
                          tr 
                            td Make your App in 2 hours: $5                      
                          tr  
                            td Active games in pull: $40                      
                          tr  
                            td Make decor for your books $1
                          tr  
                            td Horse riding $12
                        
                                            
                    
    
