div.wrapper
    p Clients:
    .cont-table
        form.form-inline
            .form-group
                label(for="filter") Filters
                input(type="text" class='form-control' id="filter" placeholder='S')
        table.table.table-bordered
            tr 
              td Smith Ben                       
            tr  
              td Simpsom Sam                      
            tr  
              td Stewart john
            tr  
              td Stathem Richard
            tr
              td Skims Anthony
